<footer class="site-footer">
    <div class="container">
        <div class="copyright text-xs text-muted text-center">
            <span class="d-inline-block">© <th:block th:if="${#strings.isEmpty(theme.config.basic.copyright)}">[[${#dates.format(new java.util.Date(), 'yyyy')}]]</th:block> 
                <th:block th:if="${not #strings.isEmpty(theme.config.basic.copyright)}">
                    [[${#conversions.convert(theme.config.basic.copyright, 'java.lang.Integer')  == #conversions.convert(#dates.format(new java.util.Date(), 'yyyy'), 'java.lang.Integer') ? theme.config.basic.copyright : theme.config.basic.copyright+' - ' +  #dates.format(new java.util.Date(), 'yyyy')}]]
                </th:block>
            </span>
            <a class="text-muted" href="/" rel="home" th:text="${site.title}"></a>
            <th:block th:if="${not #strings.isEmpty(theme.config.basic.beian.index_icp)}">
                <span class="d-inline-block">&nbsp;|&nbsp;</span>
                <a class="text-muted" href="https://beian.miit.gov.cn/" th:text="${theme.config.basic.beian.index_icp}"></a>
            </th:block>
            <th:block th:if="${not #strings.isEmpty(theme.config.basic.beian.index_icp2)}">
                <span class="d-inline-block">&nbsp;|&nbsp;</span>
                <a th:if="${not #strings.isEmpty(theme.config.basic.beian.index_icp2)}" class="text-muted" href="https://beian.mps.gov.cn/#/query/webSearch" th:text="${theme.config.basic.beian.index_icp2}"></a>
            </th:block>
        </div>
    </div>
</footer>